{
    "printWidth": 120,
    "tabWidth": 4,
    "trailingComma": "all",
    "bracketSpacing": true,
    "semi": true,
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "vueIndentScriptAndStyle": true,
    "arrowParens": "always",
    "singleQuote": true
}
