body {
    font-size: 100%;
    scroll-behavior: smooth;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
}
